.container-fluid {
  width: 100%; }

.nav_logo {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  min-width: 1010px;
  height: 30px;
  background-color: #464646; }
  .nav_logo .nav_logo_pic {
    display: inline;
    float: left;
    margin-left: 8%; }
  .nav_logo .nav_user {
    display: inline;
    float: right;
    margin-right: 8%;
    width: 240px;
    position: relative; }
    .nav_logo .nav_user .nav_user_pic {
      position: relative;
      margin-top: 3px; }
      .nav_logo .nav_user .nav_user_pic .nav_user_pic1 {
        color: #b1b1b1; }
        .nav_logo .nav_user .nav_user_pic .nav_user_pic1 span {
          padding-left: 2px; }
      .nav_logo .nav_user .nav_user_pic .nav_user_pic1:hover {
        color: #b1b1b1;
        text-decoration: none; }
      .nav_logo .nav_user .nav_user_pic .nav_user_message {
        position: absolute;
        top: 0px;
        left: 100px; }
        .nav_logo .nav_user .nav_user_pic .nav_user_message span {
          display: block;
          width: 14px;
          height: 14px;
          text-align: center;
          line-height: 14px;
          background-image: url("../images/pinglun.png");
          position: absolute;
          top: -1px;
          left: 10px;
          font-size: 8px;
          color: #fff; }
    .nav_logo .nav_user .nav_user_shop {
      position: absolute;
      left: 150px;
      top: -2px;
      height: 30px;
      border-left: 1px solid #363636;
      padding-left: 5px; }
      .nav_logo .nav_user .nav_user_shop span {
        color: #b1b1b1;
        line-height: 30px;
        margin-left: 5px; }

.nav_list {
  position: fixed;
  top: 30px;
  width: 100%;
  min-width: 1010px;
  height: 65px;
  border-bottom: 1px solid #e3e4e6;
  box-shadow: 1px 1px 1px #e3e4e6;
  z-index: 70;
  background-color: #fff; }
  .nav_list .nav_content {
    display: inline;
    float: left;
    margin-left: 155px; }
    .nav_list .nav_content ul li {
      float: left;
      font-size: 16px;
      margin-right: 30px;
      margin-left: 10px;
      line-height: 65px; }
      .nav_list .nav_content ul li a:hover {
        text-decoration: none; }
      .nav_list .nav_content ul li .bankuai_content {
        position: relative; }
  .nav_list .nav_contentsearch {
    display: inline;
    float: right;
    margin-right: 14.5%; }
    .nav_list .nav_contentsearch .nav_search_pic {
      position: relative;
      margin-top: 15px; }
      .nav_list .nav_contentsearch .nav_search_pic .nav_search_pic1 {
        display: block;
        width: 300px;
        height: 36px;
        font-size: 12px;
        line-height: 36px;
        font-family: Microsoft YaHei;
        color: #bdbdbd;
        border-radius: 4px;
        border: 1px solid #e4e4e4;
        padding-left: 10px; }
  .nav_list .nav_seach_logo {
    position: absolute;
    left: 258px;
    top: 7px; }

.row-fluid {
  margin-top: 100px;
  z-index: -100; }

.content_scroll {
  margin-left: 163px;
  margin-top: 10px; }
  .content_scroll a img {
    width: 100%; }

.carousel-inner img {
  width: 100%; }

.news_all {
  margin-left: 162px;
  border: 1px solid #e3e4e6;
  border-radius: 5px;
  margin-top: 10px; }

.news_all .news {
  padding: 0px 20px 10px 20px; }
  .news_all .news h1 a {
    font-size: 22px;
    color: #333; }
  .news_all .news h1 a:hover {
    color: #e2231a;
    text-decoration: none; }
.news_all .news {
  width: 100%; }
  .news_all .news .news_user .news_user_name {
    display: inline-block;
    color: #999;
    margin-bottom: 5px; }
  .news_all .news .news_user .news_user_fenxiang {
    display: inline-block;
    float: right;
    margin-right: 15px;
    color: #999;
    margin-bottom: 5px; }
    .news_all .news .news_user .news_user_fenxiang a {
      color: #999; }
    .news_all .news .news_user .news_user_fenxiang a:hover {
      color: #999;
      text-decoration: none; }
.news_all .news {
  width: 100%; }
  .news_all .news .news_content {
    padding-bottom: 20px;
    border-bottom: 1px dashed #e3e4e6; }
    .news_all .news .news_content img {
      width: 100%;
      display: block;
      border-radius: 5px; }
    .news_all .news .news_content a {
      color: #333;
      font-size: 13px;
      line-height: 30px; }
    .news_all .news .news_content a:hover {
      color: #e2231a;
      text-decoration: none; }
.news_all .news .news_content_last {
  padding-bottom: 20px; }
  .news_all .news .news_content_last img {
    width: 100%;
    display: block;
    border-radius: 5px; }
  .news_all .news .news_content_last a {
    color: #333;
    font-size: 13px;
    line-height: 30px; }
  .news_all .news .news_content_last a:hover {
    color: #e2231a;
    text-decoration: none; }

.lenovo_serious {
  margin-left: 10px;
  width: 55%;
  border: 1px solid #e3e4e6;
  border-radius: 5px;
  margin-top: 10px; }
  .lenovo_serious ul li {
    border-bottom: 1px solid #e3e4e6; }
    .lenovo_serious ul li img {
      display: inline-block;
      padding-left: 30px;
      padding-bottom: 6px; }
    .lenovo_serious ul li a {
      display: inline-block;
      padding-left: 20px;
      padding-top: 8px;
      font-size: 14px;
      color: #333; }
      .lenovo_serious ul li a span {
        display: block;
        color: #999;
        font-size: 12px;
        line-height: 20px; }
    .lenovo_serious ul li a:hover {
      color: #e2231a;
      text-decoration: none; }

.qiandao {
  margin-left: 10px;
  width: 55%;
  border: 1px solid #e3e4e6;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 20px 10px 20px; }

.qiandao_zong {
  width: 100%; }
  .qiandao_zong .qiandao_zong1 {
    width: 100%; }
    .qiandao_zong .qiandao_zong1 tr {
      background-color: #ff6163; }
      .qiandao_zong .qiandao_zong1 tr td {
        text-align: center;
        font-size: 22px;
        color: #fff;
        font-weight: bold;
        line-height: 60px; }
        .qiandao_zong .qiandao_zong1 tr td img {
          width: 70%; }
      .qiandao_zong .qiandao_zong1 tr .qiandao_title {
        text-align: left; }
  .qiandao_zong .qiandao_zong2 {
    width: 100%; }
    .qiandao_zong .qiandao_zong2 .qiandao_line1 {
      border-top: 2px solid #ff6163;
      border-right: 2px solid #ff6163; }
      .qiandao_zong .qiandao_zong2 .qiandao_line1 td {
        text-align: center;
        line-height: 28px;
        border-bottom: 1px dashed #666; }
    .qiandao_zong .qiandao_zong2 .qiandao_line2 {
      border-bottom: 2px solid #ff6163;
      border-right: 2px solid #ff6163; }
      .qiandao_zong .qiandao_zong2 .qiandao_line2 td {
        text-align: center;
        line-height: 27px; }

.bankuai {
  margin-left: 10px;
  width: 55%;
  border-radius: 5px;
  margin-top: 10px; }
  .bankuai .table-bordered {
    width: 100%; }
    .bankuai .table-bordered thead {
      font-size: 18px;
      line-height: 60px; }
      .bankuai .table-bordered thead th {
        font-weight: normal;
        color: #333;
        text-align: center; }
      .bankuai .table-bordered thead .bankuai_foot {
        border-top: 2px solid #e2231a;
        border-radius: 5px; }
    .bankuai .table-bordered tbody {
      font-size: 18px;
      line-height: 60px; }
      .bankuai .table-bordered tbody td {
        text-align: center;
        color: #333; }

.user_recommad {
  margin-left: 10px;
  width: 55%;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #e3e4e6;
  border-radius: 5px;
  padding: 5px; }

.user_recommad table {
  width: 100%; }
  .user_recommad table thead th {
    font-size: 22px;
    color: #333;
    border-bottom: none;
    font-weight: normal; }

.user_recommad .table_list td {
  padding-top: 15px;
  font-size: 14px;
  color: #000;
  text-align: left; }
  .user_recommad .table_list td img {
    border-radius: 48px; }
  .user_recommad .table_list td span {
    margin-left: 5px; }

.lenovo_news {
  margin-left: 10px;
  width: 55%;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #e3e4e6;
  border-radius: 5px;
  padding: 10px; }
  .lenovo_news h1 {
    font-size: 22px;
    color: #333;
    border-bottom: 1px solid #e3e4e6;
    padding-bottom: 10px; }

.lenovo_news ul {
  padding-left: 16px; }
  .lenovo_news ul li {
    list-style-type: disc;
    color: #000;
    line-height: 30px;
    border: none; }
    .lenovo_news ul li a {
      font-size: 14px;
      text-decoration: none; }

.lenovo_community {
  margin-left: 10px;
  width: 55%;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #e3e4e6;
  border-radius: 5px;
  padding: 10px; }
  .lenovo_community h1 {
    font-size: 22px;
    color: #333;
    border-bottom: 1px solid #e3e4e6;
    padding-bottom: 10px; }
  .lenovo_community ul li {
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 30px; }
    .lenovo_community ul li img {
      width: 100%; }

.right-page {
  padding-top: 35px;
  text-align: right;
  margin-bottom: 50px; }

.right-page a {
  font-size: 12px;
  color: #333;
  padding: 5px 8px;
  border: 1px solid #e3e4e6;
  margin: 0 0 0 5px; }

.right-page a:hover {
  text-decoration: none;
  background-color: #ff6163;
  color: #fff; }

.right-page a.page-active {
  background: #ff6163;
  color: #fff; }

.footer {
  clear: both;
  width: 100%;
  background: #434343;
  text-align: center; }

.footer .foot-top {
  padding-top: 30px; }

.footer .foot-last {
  padding-bottom: 30px; }

.footer a {
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  display: inline;
  padding: 0 10px; }

.footer .foot-top a:nth-child(-n+5) {
  border-right: 1px solid #fff; }

.footer .foot-last a:nth-child(-n+4) {
  border-right: 1px solid #fff; }

/*# sourceMappingURL=style3.css.map */
